.path-store-locator-results .layout-content {
  display: block;
  margin: 0;
}

#map {
  height: 40vh;
  width: 100%;
}

#results {
  margin-top: 2rem;
}

.store {
  border-top: solid #eae9e5 1px;
  display: grid;
  grid-template-columns: 15% 45% 15% 15%;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.3rem;
}

.store .number {
  font-size: 3rem;
  margin: 0.1em 0.4em 0 0;
  color: #e2231a;
}

.store .info {
  display: flex;
  align-items: center;
}

.store .info div {
  margin-right: 0.4rem;
}

.store .details {
  color: #e2231a;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 290486px;
  display: inline-flex;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
}

.store .details a {
  color: #e2231a;
}

.store .details svg {
  position: relative;
  top: 2px;
  margin-right: 0.2rem;
}

.store .ad {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.store .ad svg {
  font-size: 3rem;
}

.store .ad a {
  color: #e2231a;
}

@media only screen and (max-width: 767px) {
  .store {
    display: flex;
    gap: 1rem;
  }
}
