body {
  font-family: 'Nunito', sans-serif, Arial;
  font-size: 1rem;
}

a, .is-link {
  text-decoration: underline;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

h1.page-title {
  font-size: 2em;
  margin: 0.67em 0;
  color: #e2231a;
}
