#block-brookshirebrothers-brookshirebrothers-system-main {
  background-color: whitesmoke;
  padding: 2rem;
}

#links {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.mapLink, .adLink, .prescriptionLink {
  color: #e2231a;
  align-items: center;
  background-color: white;
  border-radius: 290486px;
  display: inline-flex;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
  margin-left: 1rem;
}

.fa-times {
  color: #e2231a;
}

#links a {
  color: #e2231a;
}

#links svg {
  position: relative;
  top: 2px;
  margin-right: 0.2rem;
}

#hours {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 15% auto;
}

#signup {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 50% auto;
}

#features {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 30% auto;
}

#pharmacy, #fuel, #tobaccoBarn, #subway, #washateria, #carWash, #mrPayroll {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 30% auto;
}
